<button class="cancel-btn" (click)="onCancel()">Cancel</button>
<div class="title-wrapper">
  <h1>{{mode === 'edit' ? 'Edit meal' : 'New meal'}}</h1>
</div>
<div class="wrapper" [formGroup]="form">
  <div class="background-logo"></div>
  <div class="form-wrapper">
    <label for="name">Title</label>
    <input class="form-control"
           type="text"
           id="name"
           formControlName="name"
           placeholder="enter meal name">
    <hr [ngClass]="{'invalid-input' : form.get('name')?.invalid && form.get('name')?.touched}">
  </div>
  <div class="kcal-time-wrapper">
    <div class="form-wrapper">
      <label for="kcal">Kcal</label>
      <input class="form-control"
             type="text"
             id="kcal"
             formControlName="kcal"
             placeholder="1234">
      <hr [ngClass]="{'invalid-input' : form.get('kcal')?.invalid && form.get('kcal')?.touched}">
    </div>
    <div class="form-wrapper">
      <label for="time">Time</label>
      <input class="form-control"
             type="text"
             id="time"
             formControlName="time">
      <hr [ngClass]="{'invalid-input' : form.get('time')?.invalid}">
    </div>
  </div>
  <div class="form-wrapper">
    <label for="fats">Fats (gm)</label>
    <input class="form-control"
           type="text"
           id="fats"
           formControlName="fats"
           placeholder="123">
    <hr [ngClass]="{'invalid-input' : form.get('fats')?.invalid && form.get('fats')?.touched}">
  </div>
  <div class="form-wrapper">
    <label for="proteins">Proteins (gm)</label>
    <input class="form-control"
           type="text"
           id="proteins"
           formControlName="proteins"
           placeholder="123">
    <hr [ngClass]="{'invalid-input' : form.get('proteins')?.invalid && form.get('proteins')?.touched}">
  </div>
  <div class="form-wrapper">
    <label for="carbohydrates">Carbohydrates (gm)</label>
    <input class="form-control"
           type="text"
           id="carbohydrates"
           formControlName="carbohydrates"
           placeholder="123">
    <hr [ngClass]="{'invalid-input' : form.get('carbohydrates')?.invalid && form.get('carbohydrates')?.touched}">
  </div>
  <div class="form-wrapper">
    <label for="photo">Add photo</label>
    <input type="image" id="photo" src="" alt="meal-image">
  </div>
</div>
<div class="add-meal-wrapper">
  <button [disabled]="form.invalid"
          (click)="onAddMeal()">
    {{mode === 'edit' ? 'Edit meal' : 'Add meal'}}
  </button>
</div>

