<button class="cancel-btn" (click)="onCancel()">Cancel</button>
<div class="wrapper" [formGroup]="form">
  <div class="title-wrapper">
    <h1>New meal</h1>
  </div>
  <div class="form-wrapper">
    <label for="name">Title</label>
    <input class="form-control"
           type="text"
           id="name"
           formControlName="name">
    <hr [ngClass]="{'invalid-input' : form.get('name')?.invalid}">
  </div>
  <div class="kcal-time-wrapper">
    <div class="form-wrapper">
      <label for="kcal">Kcal</label>
      <input class="form-control"
             type="text"
             id="kcal"
             formControlName="kcal">
      <hr [ngClass]="{'invalid-input' : form.get('kcal')?.invalid}">
    </div>
    <div class="form-wrapper">
      <label for="time">Time</label>
      <input class="form-control"
             type="text"
             id="time"
             formControlName="time">
      <hr [ngClass]="{'invalid-input' : form.get('time')?.invalid}">
    </div>
  </div>
  <div class="form-wrapper">
    <label for="fats">Fats (gm)</label>
    <input class="form-control"
           type="text"
           id="fats"
           formControlName="fats">
    <hr [ngClass]="{'invalid-input' : form.get('fats')?.invalid}">
  </div>
  <div class="form-wrapper">
    <label for="proteins">Proteins (gm)</label>
    <input class="form-control"
           type="text"
           id="proteins"
           formControlName="proteins">
    <hr [ngClass]="{'invalid-input' : form.get('proteins')?.invalid}">
  </div>
  <div class="form-wrapper">
    <label for="carbohydrates">Carbohydrates (gm)</label>
    <input class="form-control"
           type="text"
           id="carbohydrates"
           formControlName="carbohydrates">
    <hr [ngClass]="{'invalid-input' : form.get('carbohydrates')?.invalid}">
  </div>
  <div class="form-wrapper">
    <label for="photo">Add photo</label>
    <input type="image" id="photo" src="" alt="meal-image">
  </div>
</div>
<div class="add-meal-wrapper">
  <button [disabled]="form.invalid"
          (click)="onAddMeal()">
    Add meal
  </button>
</div>

