<button class="cancel-btn" (click)="onCancel()">Cancel</button>
<div class="wrapper" [formGroup]="form">
  <div class="title-wrapper">
    <h1>New meal</h1>
  </div>
  <div class="form-wrapper">
    <label for="name">Title</label>
    <input class="form-control"
           type="text"
           id="name"
           formControlName="title">
    <hr [ngClass]="{'invalid-input' : form.get('title')?.invalid}">
  </div>
  <div class="kcal-time-wrapper">
    <div class="form-wrapper">
      <label for="kcal">Kcal</label>
      <input class="form-control"
             type="text"
             id="kcal"
             formControlName="kcal"
             required minlength="1" maxlength="4" pattern="[0-9]*">
<!--      <hr [ngClass]="{'invalid-input' : kcal.invalid}">-->
    </div>
    <div class="form-wrapper">
      <label for="time">Time</label>
      <input class="form-control"
             type="text"
             id="time"
             formControlName="time"
             required minlength="5" maxlength="5" pattern="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]">
<!--      <hr [ngClass]="{'invalid-input' : time.invalid}">-->
    </div>
  </div>
  <div class="form-wrapper">
    <label for="fats">Fats (gm)</label>
    <input class="form-control"
           type="text"
           id="fats"
           formControlName="fats"
           required minlength="1" maxlength="4" pattern="[0-9]*">
<!--    <hr [ngClass]="{'invalid-input' : fats.invalid}">-->
  </div>
  <div class="form-wrapper">
    <label for="proteins">Proteins (gm)</label>
    <input class="form-control"
           type="text"
           id="proteins"
           formControlName="proteins"
           required minlength="1" maxlength="4" pattern="[0-9]*">
<!--    <hr [ngClass]="{'invalid-input' : proteins.invalid}">-->
  </div>
  <div class="form-wrapper">
    <label for="carbohydrates">Carbohydrates (gm)</label>
    <input class="form-control"
           type="text"
           id="carbohydrates"
           formControlName="carbohydrates"
           required minlength="1" maxlength="4" pattern="[0-9]*">
<!--    <hr [ngClass]="{'invalid-input' : carbohydrates.invalid}">-->
  </div>
  <div class="form-wrapper">
    <label for="photo">Add photo</label>
    <input type="image" id="photo" src="" alt="meal-image">
  </div>
  <div class="add-meal-wrapper">
    <button class="add-meal"
            [disabled]="form.invalid"
            (click)="onAddMeal()">
      Add meal
    </button>
  </div>

</div>

