<button class="cancel-btn" (click)="onCancel()">Back</button>
<div class="title-wrapper">
  <h1>{{(isCurrentDay) ? 'Today' : months[month] + ' ' + day}}</h1>
</div>
<div class="wrapper">
  <div class="background-logo"></div>
  <div class="item-wrapper">
    <p class="p-label">Kcal</p>
    <p class="p-info"
       [class]="totalCalories?.status">
      {{totalCalories?.amount + ' / ' + (userSettings$ | async)?.maxKcal}}
    </p>
  </div>
  <div class="item-wrapper">
    <p class="p-label">Fats (gm)</p>
    <p class="p-info"
       [class]="totalCalories?.fatsStatus">
      {{totalCalories?.fats + ' / ' + (userSettings$ | async)?.fats}}
    </p>
  </div>
  <div class="item-wrapper">
    <p class="p-label">Proteins (gm)</p>
    <p class="p-info"
       [class]="totalCalories?.proteinsStatus">
      {{totalCalories?.proteins + ' / ' + (userSettings$ | async)?.proteins}}
    </p>
  </div>
  <div class="item-wrapper">
    <p class="p-label">Carbohydrates (gm)</p>
    <p class="p-info"
       [class]="totalCalories?.carbohydratesStatus">
      {{totalCalories?.carbohydrates + ' / ' + (userSettings$ | async)?.carbohydrates}}
    </p>
  </div>
  <div class="meal-container" *ngFor="let meal of meals" (click)="onMeal(meal.key)">
    <p>{{(+meal.hours < 12) ? 'Breakfast ' + meal.name :
      (+meal.hours > 16) ? 'Dinner ' + meal.name :
        'Lunch ' + meal.name}}</p>
    <div>
      <p class="bold">{{meal.kcal}}</p>
      <p class="bold">{{meal.time}}</p>
    </div>
  </div>
</div>
