<button class="cancel-btn" (click)="onCancel()">Cancel</button>
<div class="title-wrapper">
  <h1>Personal settings</h1>
</div>
<div class="wrapper" [formGroup]="form">
  <div class="background-logo"></div>
  <div class="gender-age-wrapper">
    <div class="form-wrapper">
      <p>Gender</p>
      <div class="male-female">
        <div class="radio">
          <input class="form-control"
                 type="radio"
                 id="male"
                 formControlName="gender"
                 value="male">
          <label class="radio-lbl" for="male">Male</label>
        </div>
        <div class="radio">
          <input class="form-control"
                 type="radio"
                 id="female"
                 formControlName="gender"
                 value="female">
          <label class="radio-lbl" for="female">Female</label>
        </div>
      </div>
    </div>
    <div class="form-wrapper">
      <label for="age">Age (years)</label>
        <input class="form-control"
               type="text"
               id="age"
               formControlName="age">
      <hr [ngClass]="{'invalid-input' : form.get('age')?.invalid}">
    </div>
  </div>
  <div class="form-wrapper">
    <label for="weight">Weight (kg)</label>
    <input class="form-control"
           type="text"
           id="weight"
           formControlName="weight">
    <hr [ngClass]="{'invalid-input' : form.get('weight')?.invalid}">
  </div>
  <div class="form-wrapper">
    <label for="height">Height (sm)</label>
    <input class="form-control"
           type="text"
           id="height"
           formControlName="height">
    <hr [ngClass]="{'invalid-input' : form.get('height')?.invalid}">
  </div>
  <div class="calculate-btn-wrapper">
    <button (click)="onCalculate()">Calculate rate for day</button>
  </div>
  <div class="min-max-kcal-wrapper">
    <div class="form-wrapper">
      <label for="min_kcal">Min kcal</label>
      <input class="form-control"
             type="text"
             id="min_kcal"
             formControlName="minKcal">
      <hr [ngClass]="{'invalid-input' : form.get('minKcal')?.invalid}">
    </div>
    <div class="form-wrapper">
      <label for="max_kcal">Max kcal</label>
      <input class="form-control"
             type="text"
             id="max_kcal"
             formControlName="maxKcal">
      <hr [ngClass]="{'invalid-input' : form.get('maxKcal')?.invalid}">
    </div>
  </div>
  <div class="form-wrapper">
    <label for="fats">Fats (gm)</label>
    <input class="form-control"
           type="text"
           id="fats"
           formControlName="fats">
    <hr [ngClass]="{'invalid-input' : form.get('fats')?.invalid}">
  </div>
  <div class="form-wrapper">
    <label for="proteins">Proteins (gm)</label>
    <input class="form-control"
           type="text"
           id="proteins"
           formControlName="proteins">
    <hr [ngClass]="{'invalid-input' : form.get('proteins')?.invalid}">
  </div>
  <div class="form-wrapper">
    <label for="carbohydrates">Carbohydrates (gm)</label>
    <input class="form-control"
           type="text"
           id="carbohydrates"
           formControlName="carbohydrates">
    <hr [ngClass]="{'invalid-input' : form.get('carbohydrates')?.invalid}">
  </div>
</div>
<div class="save-wrapper">
  <button [disabled]="form.invalid"
          (click)="onSave()">
    Save settings
  </button>
</div>
