<div class="wrapper" (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()">
  <div class="header">
    <div class="left-header-part">
      <button class="settings"></button>
      <button class="month">
        <p>{{months[date.getMonth()]}}</p>
        <div class="drop-down"></div>
      </button>
    </div>
    <div class="right-header-part">
      <div class="calories-checker">
        <div class="calorie-intake">
          1000
        </div>
      </div>
      <div class="days-wrapper">
        <div class="days" *ngFor="let day of weekDaysNumbers">
          <div class="day">
            {{day}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="left-body-part">
      <div class="time-wrapper">
          <div class="time" *ngFor="let time of times">{{time}}</div>
      </div>
      <div class="vertical-layer">
        <div class="cell-wrapper" *ngFor="let i of rows">
        </div>
      </div>
    </div>
    <div class="right-body-part">
      <div class="horizontal-layer">
        <div *ngFor="let i of columns"></div>
      </div>
      <div class="food-info-container">
        <div class="cell-wrapper" *ngFor="let meal of meals;">
            <div class="food-info" (click)="onFood(meal)">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
