<div class="wrapper">
  <div class="header">
    <div class="left-header-part">
      <button class="settings"></button>
      <button class="month">
        <p>Month</p>
        <div class="drop-down"></div>
      </button>
    </div>
    <div class="right-header-part">
      <div class="calories-checker"
           [ngStyle]="{'grid-template-rows':'repeat(1, 1fr)', 'grid-template-columns':'repeat(7, 1fr)'}">
        <div class="calorie-intake">
          1000
        </div>
      </div>
      <div class="days-wrapper">
        <div class="days" *ngFor="let day of weekDaysNumbers">
          <div class="day">
            {{day}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%; height: 300px; background-color: green"
     (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()">
</div>
