<div class="wrapper"
     (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()">
  <div class="background-logo"></div>
  <button class="add-today-meal" (click)="onTodayMeal()"></button>
  <div class="header">
    <div class="left-header-part">
      <button class="settings" (click)="onSettings()"></button>
      <button class="month">
        <p>{{months[date?.getMonth() ?? 0]}}</p>
        <div class="drop-down"></div>
      </button>
    </div>
    <div class="right-header-part">
      <div class="calories-checker">
        <div class="calorie-intake"
             *ngFor="let day of mealsPerWeek$ | async;"
             (click)="onDay(day.caloriesInfo.kcal, day.keys[0])">
          <p [class]="day.caloriesInfo.status">{{day.caloriesInfo.kcal === 0 ? '' : day.caloriesInfo.kcal}}</p>
        </div>
      </div>
      <div class="days-wrapper">
        <div class="day"
             *ngFor="let day of mealsPerWeek$ | async; let i = index"
             (click)="onDay(day.caloriesInfo.kcal, day.keys[0])">
          <p class="date"
             [ngClass]="{'current-day': checkCurrentDay(day.caloriesInfo.date)}">
            {{day.caloriesInfo.date.getDate()}}
          </p>
          <p>{{weekDays[i]}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="left-body-part" [style]="{'grid-template-rows' : 'repeat(' + times.length + ', 1fr)'}">
      <div class="time-wrapper" *ngFor="let time of times">
        <div class="time">{{time}}</div>
        <div class="vertical-layer"></div>
      </div>
    </div>
    <div class="right-body-part">
      <div class="horizontal-layer">
        <div *ngFor="let i of weekDays"></div>
      </div>
      <!--      <div class="food-info-container" [style]="{'grid-template-rows' : 'repeat(' + times.length + ', 1fr)'}">-->
      <div class="food-info-wrapper">
        <div class="food-info-container"
             *ngFor="let day of mealsPerWeek$ | async; let i = index"
             [style]="{'grid-template-rows' : 'repeat(' + times.length + ', 1fr)'}">
          <div class="cell-wrapper" *ngFor="let key of day.keys">
            <div class="food-info" (click)="onFood(key)">
              <div class="is-info" *ngIf="key | meal as item">
                <div>
                  <p>{{item.type}}</p>
                  <p>{{item.name}}</p>
                </div>
                <p class="bold">{{item.kcal}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
