@import "icons.scss";
@import "fonts.scss";

$cell-height: 6vh;

.wrapper {
  position: relative;
  min-width: 300px;

  .add-today-meal {
    position: fixed;
    right: 6px;
    bottom: 6px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    background-image: $plus;
    background-color: #F7F7F7;
    background-position: center center;
    background-repeat: no-repeat;
  }

  p {
    margin: 0;
    font-family: Roboto-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px
  }

  .cell-wrapper {
    position: relative;
    height: 0;
    padding-top: 100%;
    border-left: 1px solid #D8D5D5;
    border-top: 1px solid #D8D5D5;

    span {
      display: none;
    }
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #FFFFFF;

    .left-header-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60px;
      flex-shrink: 0;

      button {
        padding: 0;
        background-color: transparent;
        color: #000000;
        box-shadow: none;
      }

      .settings {
        width: 50px;
        height: 50px;
        background-image: $settings;
        background-size: cover;
        flex-shrink: 0;
        margin: 5px;
      }

      .month {
        display: flex;
        align-items: center;
        width: 60px;
        height: 20px;
        padding-left: 4px;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          width: 39px;
        }

        .drop-down {
          width: 20px;
          height: 20px;
          background-image: $drop-down;
          background-size: cover;
          flex-shrink: 0;
        }
      }
    }

    .right-header-part {
      display: flex;
      width: 100%;
      flex-direction: column;

      .calories-checker {
        display: grid;
        height: $cell-height;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .calorie-intake {
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-weight: bold;
          }

          .yellow {
            color: #F5D45E;
          }

          .red {
            color: #F47981;
          }

          .blue {
            color: #799CF4;
          }
        }
      }

      .days-wrapper {
        display: grid;
        height: $cell-height;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .day {
          display: flex;
          align-items: center;
          white-space: pre-line;
          flex-direction: column;
          font-size: 14px;
          line-height: 16px;

          .date {
            display: flex;
            justify-content: center;
            width: 16px;
            height: 16px;
            font-weight: bold;
            margin-bottom: 3px;
          }

          .current-day {
            border: 0 solid transparent;
            border-radius: 50%;
            background-color: #799CF4;
          }
        }
      }
    }
  }

  .body {
    margin-top: 100px;
    display: flex;

    .left-body-part {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 60px;
      margin: $cell-height / 4 0;

      .time-wrapper {
        display: flex;
        align-items: center;
        height: $cell-height / 2;

        .time {
          display: flex;
          justify-content: center;
          width: 50px;
          border-top: 1px solid transparent;
          color: #413F3F;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
        }

        .vertical-layer {
          width: 10px;
          border-top: 1px solid #D8D5D5;
        }
      }
    }

    .right-body-part {
      display: flex;
      flex-direction: column;
      width: 100%;

      .horizontal-layer {
        display: grid;
        width: 100%;
        height: $cell-height / 2;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 1fr);

        div {
          border-left: 1px solid #D8D5D5;
        }
      }

      .food-info-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(17, 1fr);

        .food-info {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          overflow: hidden;
          margin: 1px;

          .is-info {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 2px;
            background-color: #799CF4;

            p {
              font-size: 12px;
              line-height: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #FFFFFF;
            }

            .bold {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
