$settings: url('../icons/settings.svg');
$drop_down: url('../icons/drop_down.svg');
$plus: url('../icons/plus.svg');
$bg-logo: url('../icons/bg_logo.svg');
$logo: url('../icons/logo.svg');
$google-logo: url('../icons/google-logo.svg');

